
	<div class="row white_stand_out">
		<% @users.each do |user| %>
			<div class="col s4">
				<div class="card-panel hoverable">
					<%= link_to user.name, user_path(user) %>
				</div>
			</div>
		<% end %>
	</div>