<div class="row">
	<div class="index-container">
    <h3 class="center-align white-text">Recent Posts</h3>
    <% Post.recent_posts.each do |post|%>
        <div class="col s4" >
            <div class="card new_post_opacity">
                <div class="card-image waves-effect waves-block waves light">
                    <%= image_tag @imgs.sample, class: "activator" %>
                </div>
                <div class="card-content">
                    <span class="card_title activator grey-text text-darken-4">
                        <strong><%= link_to post.title, post_path(post)%></strong>
                        <i class="material-icons right">more_vert</i>
                    </span>
                    <p style="font-size: 10px">Posted by: <%= post.user.name %></p>
                </div>
                <div class="card-reveal">
                    <span 
                        class="card-title grey-text text-darken-4 font-size: 10px">
                        Comments<i class="material-icons right">close</i>
                    </span>
                    <% post.comments.each do |comment| %>
                        <p><%= comment.user_comment %></p>
                    <% end %>
                </div>        
            </div>
        </div>    
    <% end %>
	</div>
</div>