// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post_stand_out {
    background: rgba(255,255,255,0.6);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index: 1;
    color: darkblue;
  }

  #new_post_contributor {
    color: black;
    font-size: 10px;
  }

  .index-container {
  max-height: 85vh;
  overflow: scroll;
  background-color:   rgba(96, 96, 96, 0.7);
}

.sub-form {
  font-size: 10px;
  color: lightgray;
}