// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile_opacity {
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .65;
    z-index: 1;
    color: darkblue
  }
  
  .new_post_opacity {
    background: #fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 1;
    z-index: 1;
  }


.div_color {
    color: rgb(0, 0, 120)
}


.white_stand_out {
  background: rgba(255,255,255,0.3);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  z-index: 1;
  color: darkblue;
}

form {
  opacity: 0.8;
}

.four-side {
  border: 2px solid white;
  // border-top: 0;
}

.input-field [type], textarea {
  color: white !important;
  border-bottom: 1px solid white !important;
}

.form-margin {
  margin-top: 45px;
}

#form-font {
  font-size: 35px;
}

.btn-margin {
  margin-bottom: 35px;
}

.user-container {
  max-height: 100vh;
  overflow: scroll;
}